body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6PZ_buozTMsTXdoy2N7itucSYw_4cP5PIkA&usqp=CAU");
   /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv92xrw4z5oeKIDrteIPW0mPF9DrGPSLLwsqP5eDAsOdfdF4BzyZbCoE1gY94tN8Em3B8&usqp=CAU"); */
   /* background-image: url("https://st.depositphotos.com/4252389/55228/i/450/depositphotos_552289928-stock-photo-background-numbers-zero-nine-numbers.jpg"); */
   
   /* background-image: url("https://media.istockphoto.com/id/999811776/vector/basic-numbers-cartoon-set-coloring-book.jpg?s=612x612&w=0&k=20&c=TLV5MiJ14NoWNlsa99-cXO96byy8G3fiMNGFB2uj-zg="); */
   
   /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeh68LEwqIYJfRrtwRgCGd6XV1Lkft8Fpclg&usqp=CAU"); */
   
   /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCS5CqVC51uNuwqkmK_pSUqF9DUTZCk81P2g&usqp=CAU"); */
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 background-attachment: fixed;
 display: flex;
 flex-wrap: wrap;
 margin:20px;


 }
 

h1{
    text-align: left;
   margin-top: 15px!important;
   margin-bottom: 10px;
   font-size: 5em!important;
   font-family: 'Times New Roman', Times, serif;
   letter-spacing: 1px;
   word-spacing: 2px;
   text-shadow:2px 2px  black;
}


span{
    text-shadow:2px 2px red;
color:tomato;
}


label{
    font-size: 30px;
    text-indent: 27px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 4px grey;
    color: white;
   
    letter-spacing: 1px;
    word-spacing: 2px;
}

.input{
    
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;

}



#button{
    margin: 20px;
    width: 120px;
    height: 55px;
    font-size: 22px;
    font-family: monospace;
    background-color: mediumturquoise;
    color: white;
  
border-radius: 10px;
   
}

#button:hover{
    color:white;
   background-color: paleturquoise;
   box-shadow: 5px 5px 7px black;

}

.box1{
  margin: 10px;
   background-color: salmon;
   border-radius: 12px;
 
}


.box1:hover{
    box-shadow: 5px 5px 5px rebeccapurple;
    background-color: crimson;
}


section{

   margin:20px;
 /* height: 300px; */
    background-color: turquoise;
    padding: 30px;
   
}

.col-md-3{
    
    padding: 10px;
    text-align: center;
}

h2{
    font-family: monospace ;
   letter-spacing: 1px;
   
    background-color: white;
}

#math{
   
    margin-top: 3px;
    padding: 20px;
}

#year{
   
    margin-top: 3px;
    padding: 20px;
}

#date{
  
    margin-top: 3px;
    padding: 20px;
   
}

#trivia{
    
    margin-top: 3px;
    padding: 20px;
}

h3{
    font-style: italic;
    color:limegreen;
    margin-top: 20px;
    padding: 10px;
    text-indent: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
   
}

 
